#container {
    position: absolute;
    width: 350px;
    height: 380px;
    background-color: transparent;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container .title {
    color: #797784;
    position: absolute;
    top: 0;
    margin-top: -50px;
    width: 100%;
    font-size: 1.3rem;
}