@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.containerInputPassword {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.containerInputPassword>div {
    position: absolute;
    right: 0;
    width: 70px;
    color: #a4ffaf;
    cursor: pointer;
}

.containerInputPassword>div>svg {
    padding: 7px;
    border-radius: 7px;
}

.containerInputPassword>div>svg:hover {
    background-color: rgba(164, 255, 175, .1);
}

.containerInputPassword>div>svg:last-child {
    margin-right: 10px;
}

.inputPassword {
    width: calc(100% - 40px);
    height: 70px;
    background-color: #24232b;
    position: relative;
    padding: 0px 70px 0px 20px;
    font-weight: 900;
    margin: 0;
    border: none;
    border-radius: 0;
    font-family: 'Krona One', sans-serif;
    color: #fff;
    text-overflow: ellipsis;
}

.inputPassword::placeholder {
    color: #53525a;
    opacity: .8;
}

.copyButton {
    color: red;
}