@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.containerInputPassword {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.containerInputPassword > svg {
    position: absolute;
    right: 0;
    margin-right: 20px;
    color: #a4ffaf;
    cursor: pointer;
}

.inputPassword {
    width: calc(100% - 40px);
    height: 70px;
    background-color: #24232b;
    position: relative;
    padding: 0px 40px 0px 20px;
    font-weight: 900;
    margin: 0;
    border: none;
    border-radius: 0;
    font-family: 'Krona One', sans-serif;
    color: #53525a;
}

.inputPassword::placeholder {
    color: #53525a;
    opacity: .8;
}