@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%27');

.button { 
    width: 100%;
    background: #a4ffaf;
    border:1px solid #a4ffaf;
    outline: none;
    height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    transition: .3s;
}

.button:hover {
    background: transparent;
    color: #a4ffaf;
}