@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');
.button { 
    width: 100%;
    background: #a4ffaf;
    border:1px solid #a4ffaf;
    outline: none;
    height: 40px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
<<<<<<< HEAD
    font-family: 'Antonio', sans-serif;
=======
    font-family: 'Bebas Neue', cursive;
    transition: .3s;
}

.button:hover {
    background: transparent;
    color: #a4ffaf;
>>>>>>> 82b22af8a9f95ff7636ea643047a8338b496ad42
}