.containerGerador {
    position: relative;
    background-color: #24232b;
    width: calc(100% - 40px);
    padding: 20px 20px;
    height: calc(100% - 110px - 20px);
}

.characterLengthContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.characterLengthContainer span {
    width: 100%;
    position: relative;
    text-align: left;
    color: #fff;
    display: block;
}

.characterLengthContainer > div > svg {
    position: absolute;
    right: 0;
    margin-right: 20px;
    color: #a4ffaf;
    cursor: default;
}

.characterLengthContainer > input[type=range] {
    height: 24px;
    -webkit-appearance: none;
    margin: 10px 0;
    background-color: transparent;
    width: 100%;
}

.characterLengthContainer > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    background: #17161e;
    border-radius: 1px;
    border: 0px solid #010101;
}

.characterLengthContainer > input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
  
.containerStrength {
    width: calc(100% - 40px);
    height: 40px;
    background-color: #18171f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: relative;
}

.containerStrength > div {
    display: flex;
    flex-direction: row;
    height: 17px;
}

.containerStrength > h5 {
    color: #7f7c8a;
    font-weight: 700;
}

.containerStrength > div > .strength {
    position: relative;
    width: 5px;
    height: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    right: 0;
    margin-left: 5px;
}

.containerStrength > div > .strong {
    background-color: #a4ffaf;
    border: 1px solid #a4ffaf;
}

.containerStrength > div > .medium {
    background-color: #ffd35e;
    border: 1px solid #ffd35e;
}

.containerStrength > div > .weak {
    background-color: #ff4545;
    border: 1px solid #ff4545;
}
