.App {
  text-align: center;
  background-color: #131316;
  height: 100%;
  width: 100%;
  position: fixed;
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-15 {
  margin-top: 15px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                    supported by Chrome, Edge, Opera and Firefox */
}